$c-apple-green: #5eb839;
$c-vivid-violet: #9339b8;
$c-chatelle: #bbb0c9;
$c-bluewood: #2c3e50;
$c-wild-sand: #f5f4f4;

$c-primary: $c-vivid-violet;
$c-secondary: $c-chatelle;
$c-font: $c-bluewood;
$c-font-light: $c-wild-sand;
