@import "./_variables.scss";
@import "./_mixins.scss";

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.5px;
    background: #f5f5f5;
}

.container {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    color: $c-primary;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    color: $c-font;
    padding: 0.5rem 0;
    line-height: 1.5;
    letter-spacing: 0.8px;

    &.small {
        font-size: 0.8rem;
    }

    &.center {
        text-align: center;
    }
}

p.error {
    padding: 1em;
    margin-bottom: 1em;
    color: #fafafa;
    background: salmon;
    border: solid 1px tomato;
    border-radius: 4px;
}

a {
    color: $c-primary;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}

.button {
    @include button;
}
